{% extends "../layouts/default.twig" %}

{% block content %}
		<div class='row hero-row'>
			<div class='col-sm-12 col-md-12 text-center'>
				<h1>Competitive Art Exchange</h1>
				<h3>Commission and sell your latest ideas and art.</h3>
				<h6>Subscribe for company updates</h6>
				<button type="button" class="btn btn-lg">Subscribe</button>
			</div>
		</div>
		<div class="info-section">
			<div class='row info-section'>
				<div class='col-sm-12 col-md-4 text-center'>
					<svg class='cloud' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270.28 136.96">
					   <defs>
					      <style>.cls-1{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:5px;}.cls-2{font-size:25px;}.cls-2,.cls-4{fill:#231f20;font-family:MyriadPro-Regular, Myriad Pro;}.cls-3{letter-spacing:-0.08em;}.cls-4{font-size:16px;}.cls-5{letter-spacing:0em;}.cls-6{letter-spacing:-0.05em;}.cls-7{letter-spacing:-0.08em;}.cls-8{letter-spacing:0em;}.cls-9{letter-spacing:0em;}.cls-10{letter-spacing:-0.07em;}.cls-11{letter-spacing:-0.03em;}.cls-12{letter-spacing:-0.05em;}</style>
					   </defs>
					   <title>cloud-info</title>
					   <path class="cls-1" d="M421.05,142.49c19.45-27-33-92-84-47L340.5,95c-42.61-30.33-92,8-81.5,36" transform="translate(-191.45 -77.54)"/>
					   <path class="cls-1" d="M418,139.09c47.54-1.7,54.39,69.52,18.53,72.91h-232c-28.5-26.5,4.33-86.13,55.33-84.21" transform="translate(-191.45 -77.54)"/>
					   <text class="cls-2" transform="translate(89.45 53.08)">
					      <tspan class="cls-3">Y</tspan>
					      <tspan x="11.62" y="0">our Idea </tspan>
					   </text>
					   <text class="cls-4" transform="translate(58.3 79.19)">
					      <tspan class="cls-5">D</tspan>
					      <tspan x="10.72" y="0">one </tspan>
					      <tspan class="cls-5" x="39.79" y="0">B</tspan>
					      <tspan x="48.53" y="0">y</tspan>
					      <tspan class="cls-6" x="56.06" y="0"> </tspan>
					      <tspan class="cls-7" x="58.72" y="0">Y</tspan>
					      <tspan class="cls-8" x="66.16" y="0">our </tspan>
					      <tspan class="cls-9" x="92.38" y="0">D</tspan>
					      <tspan x="103.1" y="0">eadline</tspan>
					   </text>
					   <text x="-191.45" y="-77.54"></text>
					   <text class="cls-2" transform="translate(37.94 112.83)">
					      <tspan class="cls-10">T</tspan>
					      <tspan x="10.65" y="0">o </tspan>
					      <tspan class="cls-11" x="29.67" y="0">F</tspan>
					      <tspan x="41.2" y="0">it</tspan>
					      <tspan class="cls-12" x="55.32" y="0"> </tspan>
					      <tspan class="cls-3" x="59.47" y="0">Y</tspan>
					      <tspan x="71.1" y="0">our Budget</tspan>
					   </text>
					</svg>
				</div>
				<div class='col-sm-12 col-md-4 text-center'>
					<svg class='comp' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.98 153.73">
				   <defs>
				      <style>.cls-100{fill:#3c52a3;}.cls-200{fill:#ed1f24;}.cls-300{fill:#66bc46;}.cls-400{fill:#f2ea26;}.cls-500{fill:none;stroke:#020202;}.cls-500,.cls-600{stroke-miterlimit:10;}.cls-6{fill:#fff;stroke:#231f20;stroke-width:5px;}</style>
				   </defs>
				   <title>comp</title>
				   <path class="cls-100" d="M181.37,251.92a8.75,8.75,0,0,0-3.08-4.56c-2.89-2-6.25-3.07-9.5-4.21a12.38,12.38,0,0,1-2.3-1,2.83,2.83,0,0,1-1-1.93,9.92,9.92,0,0,1-.13-1.15,25.53,25.53,0,0,0,3.92-13.37c0-7-3.8-9-8.5-9s-8.5,2-8.5,9c0,4.67,1.68,10.39,4.18,13.72,0,.26-.05.53-.1.79a2.8,2.8,0,0,1-1,1.91,12.28,12.28,0,0,1-2.3,1c-3.25,1.14-6.61,2.15-9.5,4.15a9.06,9.06,0,0,0-3.08,4.68,19.61,19.61,0,0,0-.78,5.91h42.48A19.61,19.61,0,0,0,181.37,251.92Z" transform="translate(-139.67 -104.1)"/>
				   <path class="cls-200" d="M239.87,251.92a8.75,8.75,0,0,0-3.08-4.56c-2.89-2-6.25-3.07-9.5-4.21a12.38,12.38,0,0,1-2.3-1,2.83,2.83,0,0,1-1-1.93,9.92,9.92,0,0,1-.13-1.15,25.53,25.53,0,0,0,3.92-13.37c0-7-3.8-9-8.5-9s-8.5,2-8.5,9c0,4.67,1.68,10.39,4.18,13.72,0,.26-.05.53-.1.79a2.8,2.8,0,0,1-1,1.91,12.28,12.28,0,0,1-2.3,1c-3.25,1.14-6.61,2.15-9.5,4.15a9.06,9.06,0,0,0-3.08,4.68,19.61,19.61,0,0,0-.78,5.91h42.48A19.61,19.61,0,0,0,239.87,251.92Z" transform="translate(-139.67 -104.1)"/>
				   <path class="cls-300" d="M306.37,249.92a8.75,8.75,0,0,0-3.08-4.56c-2.89-2-6.25-3.07-9.5-4.21a12.38,12.38,0,0,1-2.3-1,2.83,2.83,0,0,1-1-1.93,9.92,9.92,0,0,1-.13-1.15,25.53,25.53,0,0,0,3.92-13.37c0-7-3.8-9-8.5-9s-8.5,2-8.5,9c0,4.67,1.68,10.39,4.18,13.72,0,.26-.05.53-.1.79a2.8,2.8,0,0,1-1,1.91,12.28,12.28,0,0,1-2.3,1c-3.25,1.14-6.61,2.15-9.5,4.15a9.06,9.06,0,0,0-3.08,4.68,19.61,19.61,0,0,0-.78,5.91h42.48A19.61,19.61,0,0,0,306.37,249.92Z" transform="translate(-139.67 -104.1)"/>
				   <path class="cls-400" d="M363.87,249.92a8.75,8.75,0,0,0-3.08-4.56c-2.89-2-6.25-3.07-9.5-4.21a12.38,12.38,0,0,1-2.3-1,2.83,2.83,0,0,1-1-1.93,9.92,9.92,0,0,1-.13-1.15,25.53,25.53,0,0,0,3.92-13.37c0-7-3.8-9-8.5-9s-8.5,2-8.5,9c0,4.67,1.68,10.39,4.18,13.72,0,.26-.05.53-.1.79a2.8,2.8,0,0,1-1,1.91,12.28,12.28,0,0,1-2.3,1c-3.25,1.14-6.61,2.15-9.5,4.15a9.06,9.06,0,0,0-3.08,4.68,19.61,19.61,0,0,0-.78,5.91h42.48A19.61,19.61,0,0,0,363.87,249.92Z" transform="translate(-139.67 -104.1)"/>
				   <polyline class="cls-500" points="21.1 112.56 21.1 75.87 95.21 33.58"/>
				   <polyline class="cls-500" points="79.6 112.56 79.74 74.4 106.33 37.9"/>
				   <polyline class="cls-500" points="146.1 110.56 146.1 75.23 125 37.9"/>
				   <polyline class="cls-500" points="203.61 110.56 203.74 73.03 130.5 33.58"/>
				   <polygon class="cls-400" points="127.76 29.61 133.1 32.1 128.68 35.43 127.76 29.61"/>
				   <polygon class="cls-200" points="108.74 32.79 108.79 38.68 103.88 36.12 108.74 32.79"/>
				   <polygon class="cls-200" points="123.31 32.94 127.73 36.83 122.55 38.78 123.31 32.94"/>
				   <polygon class="cls-100" points="99.37 30.14 97.34 35.67 93.65 31.54 99.37 30.14"/>
				   <path class="cls-600" d="M270.51,117.11c3.46-4.54-5.87-15.48-14.93-7.91l.61-.08c-7.58-5.1-16.36,1.35-14.49,6.06" transform="translate(-139.67 -104.1)"/>
				   <path class="cls-600" d="M270,116.54c8.45-.29,9.67,11.7,3.29,12.27H232c-5.07-4.46.77-14.5,9.84-14.17" transform="translate(-139.67 -104.1)"/>
				</svg>
				</div>
				<div class='col-sm-12 col-md-4 text-center'>
					<img class='octocat-img' src='/images/Octocat.png' alt='github octocat' />
				</div>
			</div>
		</div>
{% endblock %}
