{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class='row hero-row'>
			<div class='col-sm-12 col-md-12 text-center'>
				<h1>Competitive Art Exchange</h1>
				<h3>Commission and sell your latest ideas and art.</h3>
				<h6>Subscribe for company updates</h6>
				<button type="button" class="btn btn-lg">Subscribe</button>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12 col-md-4 text-center'>
				<img class='octocat-img' src='/images/Octocat.png' alt='github octocat' />
			</div>
			<div class='col-sm-12 col-md-4 text-center'>
				<img class='octocat-img' src='/images/Octocat.png' alt='github octocat' />
			</div>
			<div class='col-sm-12 col-md-4 text-center'>
				<img class='octocat-img' src='/images/Octocat.png' alt='github octocat' />
			</div>
		</div>
	</div>
{% endblock %}
